<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
</head>

<body class="bg-[#1a1a1a] text-[#e5e5e5] p-6 flex flex-col h-screen">

    <!-- Display streaming response -->
    <div hx-trigger="PromptSubmitted from:body" hx-get="/stream-component" hx-select-oob="#stream-response">
    </div>

    <div id="stream-response"
        class="flex-grow p-8 mt-16 overflow-y-auto scrollbar-thin scrollbar-thumb-[#4C9C94] scrollbar-track-[#1a1a1a] border border-[#3a3a3c] rounded-lg mb-4">
    </div>



    <div id="prompt-component" hx-get="/prompt-component" hx-trigger="load">

    </div>

    <!-- Prompt area -->
   
</body>

</html>