package main

templ StreamComponent(id string) {
    <div style="display:none" id="stream-container" hx-ext="sse" sse-connect="/stream" sse-swap="update" sse-close="close"></div>
    <div id="aggregated-tokens"></div>
    <script>
        const concatenatedContainer = document.getElementById("aggregated-tokens");

        document.body.addEventListener("htmx:sseMessage", function (event) {
                concatenatedContainer.textContent += " "  + event.detail.data.trim(); 
        });
    </script>
}