package components

templ StreamListner() {
	<div
		class="flex-grow p-8 mt-16 overflow-y-auto scrollbar-thin scrollbar-thumb-[#4C9C94] scrollbar-track-[#1a1a1a] border border-[#3a3a3c] rounded-lg mb-4"
		id="stream-response"
		hx-ext="sse"
		sse-connect="/stream"
		sse-swap="update"
		hx-swap="beforeend"
	>
		<!-- Responses will be appended here -->
	</div>
}
